<!-- reset-password.component.html -->
<div class="min-h-screen bg-background flex items-center justify-center">
  <div class="bg-gray-100 text-textPrimary p-8 rounded-lg shadow-lg max-w-lg w-full">
    <h2 class="text-3xl font-bold mb-6 text-center">RESET PASSWORD</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium mb-2">New Password</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          class="w-full p-3 border border-gray-300 rounded bg-white"
        />
        <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
          <small class="text-red-500">Password is required and must be at least 6 characters long.</small>
        </div>
      </div>
      <button type="submit" class="w-full p-3 bg-buttonBg text-buttonText rounded hover:bg-teal-700 disabled:bg-gray-400" [disabled]="resetPasswordForm.invalid">
        RESET PASSWORD
      </button>
      <div *ngIf="message" class="mt-4 text-center text-secondary">{{ message }}</div>
    </form>
  </div>
</div>
