@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/ngx-toastr/toastr.css';

/* Apply the Libre Franklin font throughout your application */
body {
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Additional global styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Example of applying the font to specific classes */
.text-xl {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-bold {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
